*{
    box-sizing: border-box;

}

.header {
    padding: 0.5%;
    position: sticky;
    text-align: center;
    background-color:#004730;
  }

  .nav-bar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .nav-bar ul li {
    margin: 0 10px;
  }
  a{
    padding: 20px;
    color: #00CC8B;
    font-weight: 400;
    font-family:poppins;
    text-decoration: none;
  }
  li{
    border-radius:5px ;
    transition-duration: 300ms;
    
  }
  li:hover{
    transform: translateY(-10px);
 }
  a:hover{
    border-bottom: solid 2px darkcyan;
  }
  h2{
    color: #00CC8B;
    font-family: ravie;
  }
  h3{
      color:#00CC8B ;
   font-family: ravie;
  }
  @media screen(min-width:500px) {
    .header{
    min-width: 300px;
    font-size :10px;

    }
    
  }
