*{
    box-sizing: border-box;

}
nav{
  background-color: #004730;
}

.navbar-brand{
  
  font-family: roboto;
  color: #00CC8B;
  transition-duration: 300ms;
}


.navbar-brand:hover{
  color: #fff;
  transform: translateY(-5px);
  transition-duration: 300ms;
}

 
.nav-link{
  color: #d5f1e8;
  margin: 0px  10px;
  padding: 2px 4px;
    font-weight: 400;
    font-family:Roboto;
    
  }
  li{
    margin:0px 40px;
    padding: 2px ;
    height: 30px;
    color: #00CC8B;
    border-radius:5px ;
    transition-duration: 300ms;
    
  }
  li:hover{
   
    transform: translateY(-5px);
 }
.nav-link:hover{
    color: aliceblue;
    border-bottom: solid 2px darkcyan;
  }
 
