*{
    box-sizing: border-box;
    font-family:palatin;
    position: relative;
}
body{
    background-color: white;
}

nav{
    
    background-color: #004730;
  }
.container{
    padding: 10px;
    
  }
  .navbar-brand{
    
    font-family: ravie;
    color: #00CC8B;
    transition-duration: 300ms;
  }
  
  .navbar-brand:hover{
    color: aliceblue;
    transform: translateY(-10px);
    transition-duration: 300ms;
  }
  
 h2{
    top: 40px;
    display: flex;
    font-weight: 500;
    font-family: ravie;
    justify-content: center;
   
 }
 h4{
    top: 100px;
    display: flex;
    font-family: ravie;
    justify-content: center;
   
 }
 h5{
    top: 100px;
    display: flex;
    font-size: 25px;
    font-family: ravie;
    justify-content: center;
   
 }
 h6{
    top: 100px;
    display: flex;
    font-size: 28px;
    font-family: ravie;
    justify-content: center;
   
 }
h3{
    position: absolute;
    top: 0%;
    margin-left: 900px;
    color:#00CC8B ;
 font-family: ravie;
}
.nav-bar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .nav-bar ul li {
    margin: 0 10px;
  }
  a{
    margin: 0px  20px;
    padding: 20px;
    font-weight: 400;
    font-family:Roboto;
    
  }
  li{
    border-radius:5px ;
    transition-duration: 300ms;
    
  }
  li:hover{
    transform: translateY(-10px);
 }
  a:hover{
    border-bottom: solid 2px darkcyan;
  }
  
 
h1{
    margin-top: 20px;
    display:flex;
    color: #004730;
    font-family: ravie;
    justify-content: center; 
}
p1{
    margin-top: 20px;
    display:flex;
    color: #004730;
    font-family: ravie;
    justify-content: center; 
}
.back-1{
    position:relative;
    height: 550px;
    margin-top:50px;
    justify-content: center;
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-image: url("images/drink2.jpg");
    }
    .card-body{
        border: none;
       }
      .card-1{
        height:250px;
        width:300px;
        margin-top:95px;
        margin-left:100px;
        border:solid 1px;
        border-style: outset;
        border-radius: 15px;
        text-overflow: clip;
        backdrop-filter: blur(5px);
        transform: translateY(60px);
        transition-duration: 300ms;
        background-color: transparent;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.945);
      }
      .card-1:hover{
        
        transform:translateY(-10px);
    }
    #img-1{
        width:170px;
        height:120px;
        margin-left: 4px;
        border-radius: 10px;
        transition-duration: 300ms;
    }
    #img-1:hover{
        transform: scale(1.2);
        border-radius: 50%;}
     .card-2{
        height:250px;
          width:300px;
          margin-top:-445px;
          margin-left:450px;
          border:solid 1px;
          border-style: outset;
          border-radius: 15px;
          text-overflow: clip;
          backdrop-filter: blur(5px);
          transform: translateY(60px);
          transition-duration: 300ms;
          background-color: transparent;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.945);
      }
      .card-2:hover{
          
          transform:translateY(-10px);
      }
      #img-2{
        width:190px;
        height:120px;
        margin-left: 4px;
        border-radius: 10px;
        transition-duration: 300ms;
        border-radius:50px;
        transform: scale(0.8);
    
    }
    #img-2:hover{
        
        transform: translateY(-10px);
      }
    
    
      .card-3{
          height:250px;
          width:300px;
          margin-top:-450px;
          margin-left:800px;
          border:solid 1px;
          border-style: outset;
          border-radius: 15px;
          text-overflow: clip;
          backdrop-filter: blur(5px);
          transform: translateY(60px);
          transition-duration: 300ms;
          background-color: transparent;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.945);
      }
      .card-3:hover{
         
          transform:translateY(-20px);
      }
      #img-3{
        width:190px;
        height:120px;
        margin-left: 4px;
        border-radius: 10px;
        transition-duration: 300ms;
        border-radius:50px;
        transform: scale(0.8);
    
    }
    #img-3:hover{
        transform: scale(1);}
    
      .card-4{
          height:250px;
          width:300px;
          margin-top:-390px;
          margin-left:1150px;
          border:solid 1px;
          border-style: outset;
          border-radius: 15px;
          text-overflow: clip;
          backdrop-filter: blur(5px);
          transform: skewY(50px);
          transition-duration:300ms;
          background-color: transparent;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.945);
      }
      .card-4:hover{
          transform: translateY(-80px);
         
          
      }
      #img-4{
          width:190px;
          height:120px;
          margin-left: 4px;
          border-radius: 10px;
          transition-duration: 300ms;
          border-radius:50px;
          transform: scale(0.8);
          opacity: 0.7;
      
      }
      #img-4:hover{
          transform: scale(1);
          opacity: 1;
      }
      .card-5{
          height:250px;
          width:300px;
          margin-top:-451px;
          margin-left:100px;
          border:solid 1px;
          border-style: outset;
          border-radius: 15px;
          text-overflow: clip;
          backdrop-filter: blur(5px);
          transform: skewX(50px);
          transition-duration: 300ms;
          background-color: transparent;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.945);
      }
      .card-5:hover{
          
          transform: scale(1.1);
          
          
      }
      #img-5{
          width:190px;
          height:120px;
          margin-left: 4px;
          border-radius: 10px;
          transition-duration: 300ms;
          border-radius:50px;
          transform: scale(0.8);
          filter:blur(2px);
      
      }
      #img-5:hover{
          transform: scale(1);
          filter:blur(0px);
      } 
      
/*       .card-6{ 
        height:250px;
        width:300px;
        margin-top:90px;
        margin-left:100px;
        border:solid 1px;
        border-style: outset;
        border-radius: 15px;
        text-overflow: clip;
        backdrop-filter: blur(5px);
        transform: translateY(60px);
        transition-duration: 300ms;
        background-color: transparent;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.945);
    }
    .card-6:hover{
        
        transform: scale(1.1);
        
        
    }
    #img-6{
      width:190px;
      height:120px;
      margin-left: 4px;
      border-radius: 10px;
      transition-duration: 300ms;
    }
    #img-6:hover{
      transform: scale(1.2);
      border-radius: 40%;}
    .card-7{
      height:250px;
          width:300px;
          margin-top:-350px;
          margin-left:450px;
          border:solid 1px;
          border-style: outset;
          border-radius: 15px;
          text-overflow: clip;
          backdrop-filter: blur(5px);
          transform: translateY(60px);
          transition-duration: 300ms;
          background-color: transparent;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.945);
    }
    .card-7:hover{
      
      transform: scale(1.1);
      
      
    }
    #img-7{
      width:190px;
      height:120px;
      margin-left: 4px;
      border-radius: 10px;
      transition-duration: 300ms;
      border-radius:50px;
      transform: scale(0.8);
    
    }
    #img-7:hover{
      
      transform: translateY(-10px);
    }
    .card-8{
      height:250px;
          width:300px;
          margin-top:-350px;
          margin-left:800px;
          border:solid 1px;
          border-style: outset;
          border-radius: 15px;
          text-overflow: clip;
          backdrop-filter: blur(5px);
          transform: translateY(60px);
          transition-duration: 300ms;
          background-color: transparent;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.945);
    }
    .card-8:hover{
      
      transform: scale(1.1);
      
      
    }
    #img-8{
      width:190px;
      height:120px;
      margin-left: 4px;
      border-radius: 10px;
      transition-duration: 300ms;
      border-radius:50px;
      transform: scale(0.8);
    
    }
    #img-8:hover{
      transform: scale(1);}
    
    .card-9{
      height:250px;
      width:300px;
      margin-top:-290px;
      margin-left:1150px;
      border:solid 1px;
      border-style: outset;
      border-radius: 15px;
      text-overflow: clip;
      backdrop-filter: blur(5px);
      transform: skewY(50px);
      transition-duration:300ms;
      background-color: transparent;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.945);
    }
    .card-9:hover{
      
      transform: scale(1.1);
      
      
    }
    #img-9{
      width:190px;
      height:120px;
      margin-left: 4px;
      border-radius: 10px;
      transition-duration: 300ms;
      border-radius:50px;
      transform: scale(0.8);
      opacity: 0.7;
    
    }
    #img-9:hover{
      transform: scale(1);
      opacity: 1;
    } 
    .card-10{
      height:250px;
      width:300px;
      margin-top:-351px;
      margin-left:1500px;
      border:solid 1px;
      border-style: outset;
      border-radius: 15px;
      text-overflow: clip;
      backdrop-filter: blur(5px);
      transform: skewX(50px);
      transition-duration: 300ms;
      background-color: transparent;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.945);
    }
    .card-10:hover{
      
      transform: scale(1.1);
      
      
    }
    #img-10{
      width:190px;
      height:120px;
      margin-left: 4px;
      border-radius: 10px;
      transition-duration: 300ms;
      border-radius:50px;
      transform: scale(0.8);
      filter:blur(2px);
    
    }
    #img-10:hover{
      transform: scale(1);
      filter:blur(0px);
    } */
    
    
    
