* body{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;

}

nav {
  width:100%;
 

}  

body{
   background-image: url("images/o2 - Copy.jpg");
    margin:auto;
    background-size:cover;
    background-attachment:fixed;
    height: 100vh;
    filter: drop-shadow(0 0 10px rgb(84, 10, 133));
    background-repeat: no-repeat;
    
}  

.navbar-brand{
  font-size: 30px;
  font-family:roboto;
  color: #040f72;
  transition-duration: 300ms;
}

.navbar-brand:hover{
  color: rgb(94, 7, 105);
  transform: translateY(-5px);
  transition-duration: 300ms;
}

.navbar-nav{
    
    display:flex;
    float:right;
 
  }
.navbar-nav ul{
  padding:40px;
  list-style: none;
}
  .navbar-nav li {
   padding: 10px;
  }
  .nav-link{
    margin: 0px  10px;
    padding: 2px 4px;
    font-weight: 400;
    color: #fff;
    font-family:poppins;
    transition: 300ms;
  }

  .navbar-nav li{
    margin:0px 40px;
    padding: 2px ;
    height: 30px;
    border-radius:5px ;
    transition-duration: 300ms;
    
  }

.nav-link:hover{
   color: aqua;
   transform: translateY(-5px);
    /* border-bottom: solid 1px rgb(206, 235, 235); */
  }


section{
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
  }
  h{
    width:100%;
    height:100%;
    color: burlywood;
    font-family: roboto;
    font-size: 40px;
    max-height:100px;
    text-align: center;
  }
   
  
.typeWriter {
    position: absolute;
    padding-top:200px;
    color:#fff;
    font-family:roboto;
    width:100%;
    height:100%;
    font-size: 1.5vw;
    text-align:center;
    max-height:100px;
  }


h2 {

  font-size: 5vw;
  width:100%;
  height:100%;
  max-height:100px;
  line-height:0;
  margin-top:10px;
  color:white;
  text-align: center;
  font-family: roboto;
}


p1{
    font-size: 30px;
    padding-top: 20px;
    color:#fff;
    font-family: roboto;
    width:100%;
    height:100%;
    max-height:100px;
    text-align: center;
  }
  
  






