* {
  box-sizing: border-box;
}

nav {
  width:100%;
  background-color: #004730;
}



.navbar-brand {
  font-family: roboto;
  color: #11deec;
  transition-duration: 300ms;
}

.navbar-brand:hover {
  color: #116f86;
  transform: translateY(-5px);
  transition-duration: 300ms;
}

.nav-link{
  margin:5px  15px;
  padding: 2px 5px ;
  font-weight: 400;
  font-family: Roboto;
  color: #00cc8b;
  border-radius: 5px;
  transition-duration: 300ms;
}

li {
  
  margin:0px 40px;
  border-radius: 5px;
  
  transition-duration: 300ms;
}

li:hover {
 
  transform: translateY(-5px);
  background-color: rgb(39, 66, 75);
}

.nav-link:hover {
  color: aliceblue;
  
}

img {
  max-width: 100%;
}

.con {
  margin-top: 50px;
  width: 50%;
  background-color: #00291c;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.945);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.caption {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #00eba0;
}

h1,
p1 {
  font-family: serif;
  color: #00eba0;
}

hr {
  margin: 5rem auto;
  max-width: 105em;
}

@media (min-width: 40em) {
  .caption {
    font-size: 1.25rem;
  }

  .con {
    display: flex;
    flex-direction: column;
  }
}




