*{
    box-sizing: border-box;

}

.header {
     position: sticky;
    text-align: center;
    padding: 20px;
    background-color:#004730;
  }
h2{
  position: absolute;
  margin-top: 0px;
  color: #00CC8B;
  font-family: ravie;
}
  .nav-bar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .nav-bar ul li {
    margin: 0 100px;
  }
  a{
    padding: 20px;
    color: #00CC8B;
    font-weight: 400;
    font-family:poppins;
    text-decoration: none;
  }
  li{
    
    border-radius:5px ;
    transition-duration: 300ms;
    
  }
  li:hover{
    transform: translateY(-10px);
 }
  a:hover{
    border-bottom: solid 2px darkcyan;
  }

  
  .carousel-item img {
    max-width: 100%;
    height: 88vh;
  }

  
  .carousel-caption {
  
    top: 50%;
    width: 100%;
    color: #f7f5f5;
    font-weight: 500;
    font-family:ravie;
    margin-top: 80px;
    margin-left: -250px;
    position: absolute;
    transform: translateY(-50%);
    
  }

  p{
    font-size:15px;
  }

  @media only screen and (max-width: 600px) {
    body {
      
    }
    img{
        width: 100%;
    }
    .header{
    
      width:390px;
      font-size: 15px;
      padding: 5px;
    }
    a{
      padding: 5px;
     font-size: xx-small;
    }
    h3{
      font-size: 10px;
    }
    h1{
 font-size: 1.1rem;
 text-align: center;
    }
  }